<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- DayView -->
  <ion-tab title="DayView" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/DayView">
    <ion-nav-view name="DayView"></ion-nav-view>
  </ion-tab>
  
  <!-- WeekView -->
  <ion-tab title="WeekView" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/WeekView">
    <ion-nav-view name="WeekView"></ion-nav-view>
  </ion-tab>

  <!-- WeekList -->
  <ion-tab title="WeekList" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/WeekList">
    <ion-nav-view name="WeekList"></ion-nav-view>
  </ion-tab>

</ion-tabs>
