<ion-view view-title="Week 3, Januari" on-swipe-left="goTo('tab.WeekList')" on-swipe-right="goTo('tab.DayView')">
<!--	<ion-content>-->
	<div class="calendar">
		<div class="fill-area">
			<div class="row" ng-repeat="i in WeekPlanArray">
				<div class="col col-20" ng-click="goToDay($index);">{{WeekPlanArray[$index].day}}<br>{{WeekPlanArray[$index].date}}</div>
				<div class="col col-60" ng-hide="i.edit == false"><input type="string" ng-model=WeekPlanArray[$index].meal>	</div>
				<div class="col col-60" ng-show="i.edit == false">{{WeekPlanArray[$index].meal}}</div>
				<div class="col col-20">
					<button ng-click="toggleEdit()" class="button-icon edit-button">
						<i ng-class="{'icon ion-edit' : i.edit == false, 'icon ion-checkmark' : i.edit == true}"></i>
					</button>
				</div>		
			</div>

		</div>
	</div>
<!--</ion-content>-->
</ion-view>